@import 'base.css';

#app {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.prose :where(button):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @apply px-5 py-2 text-white bg-blue-500 rounded shadow-md transition-colors hover:bg-blue-600;
}